{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid dashboard-div">
        <h1>Client</h1>

        <table class="table">
            <tbody>
            {# <tr> #}
            {# <th>Id</th> #}
            {# <td>{{ utilisateur.id }}</td> #}
            {# </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ utilisateur.adresse.codePostal }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ utilisateur.adresse.numero }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur.adresse.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ utilisateur.adresse.pays }}</td>
            </tr>
            </tbody>
        </table>

        {# <a href="{{ path('utilisateur_index') }}">back to list</a> #}

        {# <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a> #}

        <a class="btn btn-danger" href="{{ path('utilisateur_index') }}"><i class="fas fa-chevron-circle-left"></i></a>
        <div style="float: right;" class="col-2 actions text-right">
            <a class="btn btn-warning " href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}"><i
                        class="fas fa-edit"></i></a>
        </div>

        {# {{ include('utilisateur/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
