<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta name="viewport" content="width=device-width, initial-scale=1"> {% block stylesheets %}{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('dist/css/custom-style.css') }}">
		<!-- Font Awesome -->
		<link
		rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
		<!-- Ionicons -->
		<link
		rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<!-- DataTables -->
		<link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
		<link
		rel="stylesheet" href="{{ asset( 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
		<!-- Tempusdominus Bbootstrap 4 -->
		<link
		rel="stylesheet" href="{{ asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
		<!-- iCheck -->
		<link
		rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
		<!-- JQVMap -->
		<link
		rel="stylesheet" href="{{ asset('plugins/jqvmap/jqvmap.min.css') }}">
		<!-- Theme style -->
		<link
		rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
		<!-- overlayScrollbars -->
		<link
		rel="stylesheet" href="{{ asset('plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
		<!-- Daterange picker -->
		<link
		rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}">
		<!-- summernote -->
		<link
		rel="stylesheet" href="{{ asset('plugins/summernote/summernote-bs4.css') }}">
		<!-- Google Font: Source Sans Pro -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
		<div
			class="wrapper">


			<!-- Navbar -->
			<nav
				class="main-header navbar navbar-expand navbar-white navbar-light">
				<!-- Left navbar links -->
				<ul style="width: 100%;" class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#" role="button">
							<i class="fas fa-bars"></i>
						</a>
					</li>


					<li style="width: 100%;" class="nav-item dropdown">
						<a style="float: right;" class="nav-link" data-toggle="dropdown" href="#">
							<i class="fas fa-user"></i>
							<span href="#"></span>

						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ path('app_logout') }}">
								<i class="fas fa-sign-out-alt"></i>
								Se
																																																								                            Deconnecter

							</a>
							<div class="dropdown-divider"></div>

						</div>
					</li>
				</ul>

			</nav>
			<!-- /.navbar -->
			<!-- Main Sidebar Container -->
			<aside
				class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="" class="brand-link">
					<img src="{{ asset('dist/img/Logo-Wetic.png') }}" alt="AdminLTE Logo" class="brand-image  " style="opacity: .8">
					<span class="brand-text font-weight-light">WETIC</span>
				</a>

				<!-- Sidebar -->
				<div class="sidebar">
					<!-- Sidebar user panel (optional) -->
					<!-- Sidebar Menu -->
						<nav class="mt-2"> <ul
							class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<!-- Add icons to the links using the .nav-icon class
																																																	                         with font-awesome or any other icon font library -->
							<li class="nav-item">
								<a href="{{ path('dashboard') }}" class="nav-link">
									<i class="fas fa-tachometer-alt"></i>
									<p>
										Dashboard
									</p>
								</a>

							</li>
							{% if app.user.roles[0] == "ROLE_ADMIN" %}
								<li class="nav-item">
									<a href="{{ path('article_index') }}" class="nav-link">
										<i class="fas fa-clipboard-list"></i>
										<p>
											Article
										</p>
									</a>

								</li>


								<li class="nav-item">
									<a href="{{ path('utilisateur_index') }}" class="nav-link">
										<i class="fas fa-users"></i>
										<p>
											Clients
										</p>
									</a>

								</li>

								<li class="nav-item">
									<a href="{{ path('facture_index') }}" class="nav-link">
										<i class="fas fa-list"></i>
										<p>
											Factures
										</p>
									</a>

								</li>
								<li class="nav-item">
									<a href="{{ path('contrat_index') }}" class="nav-link">
										<i class="fas fa-file-contract"></i>
										<p>
											Contrats
										</p>
									</a>

								</li>
								<li class="nav-item">
									<a href="{{ path('depense_index') }}" class="nav-link">
										<i class="fas fa-money-bill-wave"></i>

										<p>
											Depenses
										</p>
									</a>

								</li>
								<li class="nav-item">
									<a href="{{ path('taxe_index') }}" class="nav-link">
										<i class="fas fa-percentage"></i>
										<p>
											Taxes
										</p>
									</a>

								</li>
								<li class="nav-item">
									<a href="{{ path('type_paiement_index') }}" class="nav-link">
										<i class="fas fa-money-check-alt"></i>
										<p>
											Type de paiement
										</p>
									</a>

								</li>
								<li class="nav-item">
									<a href="{{ path('type_depense_index') }}" class="nav-link">
										<i class="far fa-file-alt"></i>
										<p>
											Types Depenses
										</p>
									</a>

								</li>
							</li>
							<li class="nav-item">
								<a href="{{ path('devise_index') }}" class="nav-link">
									<i class="fas fa-euro-sign"></i>
									<p>
										Devises
									</p>
								</a>

							</li>

						{% endif %}
						{% if app.user.roles[0] == "ROLE_USER" %}
							<li class="nav-item">
								<a href="{{ path('facture_index') }}" class="nav-link">
									<i class="fas fa-list"></i>
									<p>
										Factures
									</p>
								</a>

							</li>
						{% endif %}
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>
		<div class="content-wrapper"> {% block body %}{% endblock %}
			</div>
			<footer class="main-footer">
				<strong>Copyright &copy; 2020
					<a href="#">WETIC</a>.</strong>
				All rights reserved.
			{#        <div class="float-right d-none d-sm-inline-block">#}
				{#            <b>Version</b> 3.0.5#}
				{#        </div>#}
			</footer>
		</body>
	</html>
</div>
{% block javascripts %}
	<!-- jQuery -->
	<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="{{ asset('plugins/jquery-ui/jquery-ui.min.js') }}"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<!-- ChartJS -->
	<script src="{{ asset('plugins/chart.js/Chart.min.js') }}"></script>
	<!-- Sparkline -->
	<script src="{{ asset('plugins/sparklines/sparkline.js') }}"></script>
	<!-- JQVMap -->
	<script src="{{ asset('plugins/jqvmap/jquery.vmap.min.js') }}"></script>
	<script src="{{ asset('plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
	<!-- jQuery Knob Chart -->
	<script src="{{ asset('plugins/jquery-knob/jquery.knob.min.js') }}"></script>
	<!-- daterangepicker -->
	<script src="{{ asset('plugins/moment/moment.min.js') }}"></script>
	<script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="{{ asset('plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
	<!-- Summernote -->
	<script src="{{ asset('plugins/summernote/summernote-bs4.min.js') }}"></script>
	<!-- overlayScrollbars -->
	<script src="{{ asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
	<!-- AdminLTE App -->
	<script src="{{ asset('dist/js/adminlte.js') }}"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="{{ asset('dist/js/pages/dashboard.js') }}"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="{{ asset('dist/js/demo.js') }}"></script>
	<script src="{{ asset('dist/js/app.js') }}"></script>
	<!-- DataTables -->
	<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>

	<script>
		$(function () {
$("#facture-table").DataTable({"responsive": true, "autoWidth": false, "lengthChange": false});
$("#article-table").DataTable({"responsive": true, "autoWidth": false, "lengthChange": false});
$("#utilisateur-table").DataTable({"responsive": true, "autoWidth": false, "lengthChange": false});
$("#taxe-table").DataTable({"responsive": true, "autoWidth": false, "lengthChange": false});
$("#type-paiement-table").DataTable({"responsive": true, "autoWidth": false, "lengthChange": false});
$(".respensive-tbls").DataTable({"responsive": true, "autoWidth": false, "lengthChange": false});


$("#detail-facture-table").DataTable({
"responsive": true,
"autoWidth": false,
"lengthChange": false,
"searching": false,
"ordering": true,
"info": true

});

$("#client-view-table").DataTable({"responsive": true, "autoWidth": false, "lengthChange": false});
// $('#example2').DataTable({
//     "paging": true,
//     "lengthChange": false,
//     "searching": false,
//     "ordering": true,
//     "info": true,
//     "autoWidth": false,
//     "responsive": true,
// });
});
	</script>
{% endblock %}</body></html>
