{% extends 'base.html.twig' %}

{% block title %}Contrat index
{% endblock %}

{% block body %}
	<br>
	<div class="container-fluid dashboard-div">
		<div class="row top-actions">
			<div class="col-8 top-header">
				<h4>Liste des Contrat</h4>
			</div>
			<div class="col-4 actions text-right">
				<a class="btn btn-primary" href="{{ path('contrat_new') }}">
					<i class="fas fa-plus"></i>
				</a>
			</div>
		</div>

		<br>
		<div class="card-body">
			<table class="table respensive-tbls table table-bordered">
				<thead>
					<tr>
						<th>Sujet</th>
						<th>DateDebut</th>
						<th>DateFin</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for contrat in contrats %}
						<tr>
							<td>{{ contrat.sujet }}</td>
							<td>{{ contrat.dateDebut ? contrat.dateDebut|date('Y-m-d') : '' }}</td>
							<td>{{ contrat.dateFin ? contrat.dateFin|date('Y-m-d') : '' }}</td>
							<td>
								<a class="btn btn-info" href="{{ path('contrat_show', {'id': contrat.id}) }}">
									<i class="fas fa-eye"></i>
								</a>
								<a class="btn btn-warning" href="{{ path('contrat_edit', {'id': contrat.id}) }}">

									<i class="fas fa-edit"></i>
								</a>
									{{ include('contrat/_delete_form.html.twig') }}

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}
