{% extends 'base.html.twig' %}

{% block title %}Contrat
{% endblock %}

{% block body %}
	<div class="container-fluid dashboard-div">

		<h3>Contrat du {{ contrat.utilisateur }}</h3>
		<br>


		<table class="table">
			<tbody>
				<tr>
					<th>Sujet</th>
					<td> </td>
				</tr>
				<tr>
					<th>DateDebut</th>
					<td>{{ contrat.dateDebut ? contrat.dateDebut|date('d-m-Y') : '' }}</td>
				</tr>
				<tr>
					<th>DateFin</th>
					<td>{{ contrat.dateFin ? contrat.dateFin|date('d-m-Y') : '' }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ contrat.description }}</td>
				</tr>
				<tr>
					<th>TypeContrat</th>
					<td>{{ contrat.typeContrat }}</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-danger" href="{{ path('contrat_index') }}">
			<i class="fas fa-chevron-circle-left"></i>
		</a>
		<div style="float: right;" class="col-2 actions text-right">
			<a class="btn btn-warning" href="{{ path('contrat_edit', {'id': contrat.id}) }}">
				<i class="fas fa-edit"></i>
			</a>
		</div>

	</div>

{% endblock %}
